#general
  .block
    float left
    width 90%
    margin 10px 5%
    background #006699
    color white
    text-align center
    .media
      padding 5px 0px


/*treegrid----------------------*/
@import 'treegrid.styl'
/*----------------------treegrid*/
